# GitHub CODEOWNERS file
# Documentation:
# - https://help.github.com/articles/about-code-owners/
# - https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Syntax:
# pattern    @user-or-team
# The last matching pattern takes precedence.

###############################
# Repository Default Owners
###############################
# These owners will be the default owners for everything in the repo
* @ruzickap
