[submodule "ansible/roles/ansible-role-virtio-win"]
	path = ansible/roles/ansible-role-virtio-win
	url = https://github.com/ruzickap/ansible-role-virtio-win.git
[submodule "ansible/roles/ansible-role-my_common_defaults"]
	path = ansible/roles/ansible-role-my_common_defaults
	url = https://github.com/ruzickap/ansible-role-my_common_defaults.git
[submodule "scripts/linux-common/packer-virt-sysprep"]
	path = scripts/linux-common/packer-virt-sysprep
	url = https://github.com/ruzickap/packer-virt-sysprep.git
[submodule "tools/create_remote_build_server/roles/cloudalchemy.grafana"]
	path = tools/create_remote_build_server/roles/cloudalchemy.grafana
	url = https://github.com/cloudalchemy/ansible-grafana.git
[submodule "tools/create_remote_build_server/roles/cloudalchemy.node-exporter"]
	path = tools/create_remote_build_server/roles/cloudalchemy.node-exporter
	url = https://github.com/cloudalchemy/ansible-node-exporter.git
[submodule "tools/create_remote_build_server/roles/cloudalchemy.prometheus"]
	path = tools/create_remote_build_server/roles/cloudalchemy.prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus.git
