[submodule "ansible/roles/ansible-role-virtio-win"]
	path = ansible/roles/ansible-role-virtio-win
	url = https://github.com/ruzickap/ansible-role-virtio-win.git
[submodule "ansible/roles/ansible-role-my_common_defaults"]
	path = ansible/roles/ansible-role-my_common_defaults
	url = git@github.com:ruzickap/ansible-role-my_common_defaults.git
