# Packer cache objects
packer_cache
packer_cache/

# Packer built boxes
*.box

# Packer build directories
*-qemu/
*-virtualbox-iso/

# pre-commit config file
.pre-commit-config.yaml

# release-it configuration file
.release-it.yml
