name: packer-templates

on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - '*.json'
      - .github/workflows/packer-templates.yml
  push:
    branches:
      - master
    paths:
      - '*.json'
      - .github/workflows/packer-templates.yml

jobs:
  packer-templates:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1

      - name: Download Packer
        run: |
          PACKER_LATEST_VERSION=$(curl -s https://checkpoint-api.hashicorp.com/v1/check/packer | jq -r -M '.current_version')
          curl -s https://releases.hashicorp.com/packer/${PACKER_LATEST_VERSION}/packer_${PACKER_LATEST_VERSION}_linux_amd64.zip --output /tmp/packer_linux_amd64.zip
          sudo unzip -o /tmp/packer_linux_amd64.zip -d /usr/local/bin/

      - name: Validate Packer templates
        run: |
          IFS=$'\n'
          for FILE in *.json; do
            echo "*** $FILE"
            for PACKER_VALIDATE_RUN in $(awk -F\" '/"_comment[0-9]*"/ { gsub("packer build","packer validate",$4); print $4 }' $FILE); do
              echo "* $PACKER_VALIDATE_RUN"
              eval "$PACKER_VALIDATE_RUN"
            done
          done
